.article-alert {
  --alert-bg: transparent;
  --alert-accent: var(--dark);

  padding: 20px 20px 10px;
  background-color: var(--alert-bg);
  margin-bottom: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  p:not(.article-alert__label, h3, .h3),
  li {
    font-size: var(--font-l);
    line-height: 140%;
  }
}
.article-alert--problem {
  --alert-bg: var(--bg-red-soft);
  --alert-accent: var(--red-soft);
}
.article-alert--success {
  --alert-bg: var(--bg-green);
  --alert-accent: var(--green);
  margin-bottom: 20px;
}
.article-alert--minimal {
  --alert-accent: var(--blue);
  border-radius: 0;
  margin-top: 10px;
}
.article-alert__label {
  margin-bottom: 10px;
  background-color: var(--alert-accent);
  color: var(--white);
  padding: 5px 10px;
  font-size: var(--font-xl);
  line-height: 140%;
  font-weight: 700;
  border-radius: 10px;
  display: inline-block;
  align-self: flex-start;
  white-space: nowrap;
}

.article-alert ul {
  list-style: disc;
  padding-left: 28px;
}
.article-alert ul li {
  padding-bottom: 30px;
}
.article-alert ul li::marker {
  color: var(--alert-accent);
}

.article-alert ol li {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
  counter-increment: my-counter;
}
.article-alert ol li::before {
  content: counter(my-counter) '.';
  color: var(--alert-accent);
}
@media screen and (min-width: 768px) {
  .article-alert {
    font-size: var(--font-xl);
  }
}
