.article {
  background-color: var(--white);
  padding: 30px 15px;
  border-radius: 20px;
  flex-shrink: 0;
}
.article__body {
  display: flex;
  flex-direction: column;

  h1,
  .h1 {
    margin-bottom: 30px;
  }
  h2,
  .h2 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  h3,
  .h3 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  p:not([class]) {
    margin-bottom: 30px;
  }
}

.post-stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.stats-text {
  color: var(--gray);
  font-size: var(--font-s);
  line-height: 140%;
}
.stats-highlight {
  font-size: var(--font-s);
  line-height: 140%;
}
@media screen and (min-width: 768px) {
  .article {
    padding: 30px;
  }
  .post-stats {
    flex-direction: row;
    justify-content: space-between;
  }
  .stats-group.views {
    text-align: right;
  }
}
