.author-card {
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--line);
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 15%);
  display: flex;
  gap: 10px;
}
.author-card--fixed {
  position: fixed;
  bottom: 10px;
  left: 15px;
  width: calc(100% - 30px);
  z-index: 1;
}
.author-card__image-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.author-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.author-card__content {
}
.author-card__label {
  color: var(--gray);
  font-size: var(--font-s);
  line-height: 140%;
}
.author-card__name {
  font-size: var(--font-l);
  font-weight: 700;
  line-height: 140%;
}
.author-card__description {
  color: var(--gray);
  font-size: var(--font-s);
  line-height: 140%;
}
.author-card__btn {
  flex-shrink: 0;
  align-self: center;
}

.author-card__btn-close {
  position: absolute;
  top: -14px;
  right: 0;
  background-color: var(--dark);
  color: var(--white);
  border-radius: 50%;
  padding: 0;
  border: none;
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 767px) {
  .author-card__btn {
    padding: 15px;
    border-radius: 20px;
    width: 48px;
    height: 48px;
    content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L16 9' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M10 2L16 9L10 16' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}
@media screen and (min-width: 768px) {
  .author-card {
    width: 100%;
    max-width: 660px;
    padding: 10px 20px;
  }
  .author-card--fixed {
    left: 20px;
    bottom: 20px;
  }
  .author-card__image-wrapper {
    align-self: center;
  }
  .author-card__label {
    margin-bottom: 4px;
  }
  .author-card__name {
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 1024px) {
  .author-card {
    max-width: 860px;
  }
  .author-card--fixed {
    left: 37px;
  }
  .author-card__content {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .author-card {
    align-self: flex-start;
    flex-direction: column;
    border: none;
    padding: 20px;
  }
  .author-card--fixed {
    /* position: sticky;
    bottom: auto;
    left: auto;
    top: 108px; */
    position: relative;
    inset: auto;
  }
  .author-card__btn-close {
    display: none;
  }
  .author-card__image-wrapper {
    align-self: flex-start;
  }
  .author-card__label {
    position: absolute;
    top: 40px;
    left: 90px;
  }
  .author-card__btn {
    align-self: flex-start;
    width: 100%;
  }
}
