button,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-r-m);
  gap: 5px;
  width: fit-content;
}

button:focus-visible,
.btn:focus-visible {
  outline: 2px solid #000;
}

.btn {
  background-color: var(--bg);
  color: var(--dark);
  border-radius: 10px;

  font-weight: 700;
}
.btn-big {
  padding: 0 30px;
  height: 56px;
  font-size: var(--font-l);
  line-height: 24px;
}
.btn-small {
  padding: 0 16px;
  height: 34px;
  font-size: var(--font-s);
  line-height: 12px;
}

/* .btn-primary:active {
 
} */
.btn:disabled,
.btn.disabled {
  background-color: var(--gray);
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background-color: var(--line);
  }
}
