.pagination {
  display: flex;

  justify-content: center;
  gap: 10px;
  margin: 40px auto 10px;
}
.btn-pagination {
  width: 46px;
  height: 46px;
  border: 1px solid transparent;
  color: var(--gray);
  background-color: var(--white);
  text-decoration: none;
  font-size: var(--font-l);
  padding: 0;
  cursor: pointer;
  flex-shrink: 0;
}

.btn-pagination.active {
  color: var(--dark);
  border-color: var(--gray);
}
.btn-pagination:hover {
  color: var(--primary);
  background-color: var(--white);
}
