.sitemap {
  margin-top: 40px;
}
.sitemap ul {
  list-style-type: none;
}

.sitemap a {
  color: var(--primary);
  font-size: var(--font-l);
  line-height: 140%;
  display: block;
}

@media (hover: hover) and (pointer: fine) {
  .sitemap a:hover {
    color: var(--secondary);
  }
}

.sitemap ul ul {
  list-style-type: disc;
  padding-left: 42px;
  margin-top: 16px;
}

.sitemap ul ul ul {
  padding-left: 20px;
  margin-top: 16px;
}

.sitemap ul li::marker {
  color: var(--primary);
}

.sitemap > ul > li {
  margin-bottom: 30px;
  line-height: 1;
}

.sitemap > ul > li:last-child {
  margin-bottom: 0;
}

.sitemap ul ul li {
  margin-bottom: 16px;
  line-height: 1;
}

.sitemap ul ul li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .sitemap ul ul {
    padding-left: 52px;
  }
  .sitemap ul ul ul {
    padding-left: 35px;
  }
}
