.section.site-map {
  margin-bottom: 60px;
}

.site-map__nav {
  margin-top: 40px;
}
.site-map__nav ul {
  list-style-type: none;
}

.site-map__nav a {
  color: var(--primary);
  font-size: var(--font-l);
  line-height: 140%;
  display: block;
}

@media (hover: hover) and (pointer: fine) {
  .site-map__nav a:hover {
    color: var(--secondary);
  }
}

.site-map__nav ul ul {
  list-style-type: disc;
  padding-left: 42px;
  margin-top: 16px;
}

.site-map__nav ul ul ul {
  padding-left: 20px;
  margin-top: 16px;
}

.site-map__nav ul li::marker {
  color: var(--primary);
}

.site-map__nav > ul > li {
  margin-bottom: 30px;
  line-height: 1;
}

.site-map__nav > ul > li:last-child {
  margin-bottom: 0;
}

.site-map__nav ul ul li {
  margin-bottom: 16px;
  line-height: 1;
}

.site-map__nav ul ul li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .section.site-map {
    margin-bottom: 90px;
  }
  .site-map__nav ul ul {
    padding-left: 52px;
  }
  .site-map__nav ul ul ul {
    padding-left: 35px;
  }
}
