body * {
  letter-spacing: -2%;
  line-height: 140%;
}

h1 {
  font: var(--font-h1);
}
h2 {
  font: var(--font-h2);
}
h3 {
  font: var(--font-h3);
}
.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0 !important;
}
