body {
  font-size: var(--font-m);
  letter-spacing: -2%;
  line-height: 140%;
  color: var(--dark);
  background-color: #f6f7f8;
}

h1,
.h1 {
  font: var(--font-h1);
}
h2,
.h2 {
  font: var(--font-h2);
}
h3,
.h3 {
  font: var(--font-h3);
}
.hidden {
  display: none !important;
}
.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0 !important;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.text-white {
  color: var(--white);
}
.main {
  padding-top: 20px;
}
.author-card {
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--line);
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 15%);
  display: flex;
  gap: 10px;
}
.author-card--fixed {
  position: fixed;
  bottom: 10px;
  left: 15px;
  width: calc(100% - 30px);
}
.author-card__image-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.author-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.author-card__content {
}
.author-card__label {
  color: var(--gray);
  font-size: var(--font-s);
  line-height: 140%;
}
.author-card__name {
  font-size: var(--font-l);
  font-weight: 700;
  line-height: 140%;
}
.author-card__description {
  color: var(--gray);
  font-size: var(--font-s);
  line-height: 140%;
}
.author-card__btn {
  align-self: center;
  background-color: var(--primary);
  padding: 15px;
  border-radius: 20px;
  flex-shrink: 0;
  color: var(--white);
  content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L16 9' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M10 2L16 9L10 16' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.author-card__btn-close {
  position: absolute;
  top: -14px;
  right: 0;
  background-color: var(--dark);
  color: var(--white);
  border-radius: 50%;
  padding: 0;
  border: none;
  width: 28px;
  height: 28px;
}
.promo-banner {
}
.promo-banner--fixed {
}
.promo-banner__text {
}
.promo-banner__btn {
}
@media screen and (min-width: 768px) {
  body {
    font-size: var(--font-xl);
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main {
    padding-top: 30px;
  }
  .author-card__btn {
    content: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: var(--font-m);
    line-height: 140%;
  }
  .author-card--fixed {
    width: 100%;
    max-width: 660px;
    left: 20px;
    bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding-left: 47px;
    padding-right: 47px;
    max-width: 1312px;
  }
}
@media screen and (min-width: 1400px) {
}
