:root {
  --primary: #126df7;
  --secondary: #1f5fc0;
  --tertiary: #afdafc;

  --dark: #212528;
  --white: #ffffff;
  --gray: #6b6b6b;
  --yellow: #f6be36;
  --green: #69c253;
  --blue: #105cff;
  --red-soft: #f66659;

  --border-orange: #f4d9c3;
  --shadow-orange: rgba(186, 99, 25, 10%);

  --border-blue: #cce0ff;
  --shadow-blue: rgba(20, 110, 250, 10%);

  --border-green: #cde6e6;
  --shadow-green: rgba(22, 165, 167, 10%);

  --bg: #f2f4f7;
  --bg2: #f7f6f2;

  --bg-green: #f5fff4;
  --bg-red-soft: #fef2f0;

  --line: #e3e3e3;

  --font-h1: 600 28px / 110% 'Inter';
  --font-h2: 600 22px / 110% 'Inter';
  --font-h3: 600 20px / 110% 'Inter';

  --font-xs: 13px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 20px;
  --font-xxl: 24px;
}
@media screen and (min-width: 768px) {
  :root {
    --font-h1: 600 34px / 110% 'Inter';
    --font-h2: 600 28px / 110% 'Inter';
    --font-h3: 600 22px / 110% 'Inter';
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --font-h1: 600 40px / 110% 'Inter';
    --font-h2: 600 30px / 110% 'Inter';
  }
}
@media screen and (min-width: 1400px) {
  :root {
    --font-h1: 600 46px / 110% 'Inter';
    --font-h2: 600 34px / 110% 'Inter';
    --font-h3: 600 26px / 110% 'Inter';
  }
}
